* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: aqua; */
}

fieldset {
    text-align: center;
}

.container {
    position: relative;
    height: 500px;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px 20px;
    background-color: pink;
}

.input {
    width: 100%;
    height: 30%;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 4rem;
    color: black;
}

.parette {
    margin: 1rem;
}
.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    button {
        background: white;
        margin: 3px;
        font-size: 35px;
        &:active {
            background: lightgrey;
            transform: scale(0.95);
        }
    }
}

